<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Define your marker style
                <i class="fa fa-times close"
                   ng-click="modal.cancel()"></i>
            </div>
            <div class="modal-body" style="font-size: 14px; color: #333;">

                <div class="col-xs-12" style="padding: 0;">
                    <div>
                        <label style="width:70px;">icon</label>
                        <i class="fa fa-fw" ng-class="'fa-'+ modal.icon"
                           style="width: 30px;font-size: 18px; padding: 4px; margin: 4px;"></i>
                    </div>

                    <div>
                        <label style="width:70px;">colors</label>
                        <span style="border: 1px solid #c3c3c3; height: 20px; width: 30px; background-color: {{modal.selectedColor}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        &nbsp;&nbsp;
                        <span style="border: 1px solid #c3c3c3; height: 20px; width: 30px; background-color: {{modal.unSelectedColor}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                    <hr/>

                </div>


                <h5><strong>Available icons</strong></h5>

                <div class="col-xs-12" style="padding: 0;">
                    <input class="form-control" ng-model="modal.search.$" placeholder="filter the icon list"/>
                </div>
                <div class="clearfix"></div>
                <div class="iconBox" style="height: 300px; width: 100%; overflow-y: scroll; display: flex;flex-flow: row wrap;justify-content: space-between;align-content: flex-start;">
                <span ng-repeat="icon in modal.availableMarkerStyles | filter : modal.search "
                      style="cursor: pointer"
                      ng-click="modal.icon = icon.id"
                        >
                    <i class="fa fa-fw"
                       ng-class="'fa-' + icon.id"
                       style="width: 30px;margin-bottom: 4px; font-size: 18px; flex-grow:1; padding: 4px; border: 1px solid black; text-align: center;"></i>
                </span>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="modal.close()">
                    <i class="fa fa-fw fa-save"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
