<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{ 'FONT_SETTINGS' | translate }}
                <i class="fa fa-times close"
                   ng-click="modal.close()"></i>
            </div>
            <div class="modal-body">
                <div class="col-xs-7">

                    <div class="btn-group btn-group-justified">
                        <a type="button" class="btn btn-default btn-sm"
                           ng-click="modal.setFontSize('small')"
                           ng-class="{'btn-primary':modal.isFontSizeSelected('small')}"
                                >
                            <small>
                                <small>
                                    <small>
                                        <i class="fa fa-font"></i>
                                    </small>
                                </small>
                            </small>
                        </a>
                        <a type="button" class="btn btn-default btn-sm"
                           ng-click="modal.setFontSize('standard')"
                           ng-class="{'btn-primary':modal.isFontSizeSelected('standard')}"
                                >
                            <small>
                                <small>
                                    <i class="fa fa-font"></i>
                                </small>
                            </small>
                        </a>
                        <a type="button" class="btn btn-default btn-sm"
                           ng-click="modal.setFontSize('large')"
                           ng-class="{'btn-primary':modal.isFontSizeSelected('large')}"
                                >
                            <i class="fa fa-font"></i>
                        </a>
                    </div>
                </div>
                <div class="col-xs-5">
                    <div class=" btn-group btn-group-justified">
                        <a type="button" class="btn btn-default btn-sm" ng-click="modal.toggleBold()"
                           ng-class="{'btn-primary':modal.isTextBold()}">
                            <i class="fa fa-bold"></i>
                        </a>
                        <a type="button" class="btn btn-default btn-sm" ng-click="modal.toggleItalic()"
                           ng-class="{'btn-primary':modal.isTextItalic()}">
                            <i class="fa fa-italic"></i>
                        </a>
                    </div>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="col-xs-7">
                    <button type="button" class="btn btn-default btn-sm btn-block no-icon"
                            style="font-family: sans-serif;" ng-click="modal.setFont('SansSerif')"
                            ng-class="{'btn-primary':modal.isFontSelected('SansSerif')}">
                        Sans Serif
                    </button>
                    <button type="button" class="btn btn-default btn-sm btn-block no-icon" style="font-family: serif;"
                            ng-click="modal.setFont('Serif')"
                            ng-class="{'btn-primary':modal.isFontSelected('Serif')}">
                        Serif
                    </button>
                    <button type="button" class="btn btn-default btn-sm btn-block no-icon"
                            style="font-family: monospace;" ng-click="modal.setFont('Monospace')"
                            ng-class="{'btn-primary':modal.isFontSelected('Monospace')}">
                        Monospace
                    </button>
                </div>
                <div class="col-xs-5">
                    <p>
                        {{'FONT_COLOR' | translate}}
                    </p>
                    <ul class="color-picker">
                        <li ng-repeat="color in modal.colors"
                            ng-class="{selected: modal.isFontColorSelected(color)}"
                            ng-click="modal.setFontColor(color)"
                            ng-style="{
                                'background-color':color,
                                width: 100 / modal.colors.length + '%',
                                'border-color': color==='#000000'?'#ff0000':'#000'
                                }">
                        </li>
                    </ul>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">#</span>
                        <!--TODO: DEBOUNCE-->
                        <input type="text" class="form-control" placeholder="{{CUSTOM_COLOR | translate}}"
                               ng-model="modal.fontColor">
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="modal.close()">
                    <i class="fa fa-fw fa-save"></i>
                    {{ 'OK' | translate }}</button>
            </div>
        </div>
    </div>
</div>
