<div class="col-xs-12">
    <div class="h3 text-center">
        Mappify
    </div>
    <br>
</div>
<div class="clearfix"></div>

<ul class="navigation">
    <li ng-repeat="modal in sidebar.availableModals">
        <a href="" ng-click="modal.open()">
            <i class="fa fa-fw" ng-class="'fa-'+modal.icon"></i>
            {{modal.title}}
        </a>
    </li>
</ul>

<div class="col-xs-12">
    <hr>
    <button ng-click="sidebar.generatorModal().open()" class="btn btn-primary btn-block text-left"><i class="fa fa-fw fa-cogs"></i> Generate
        AngularJS App
    </button>
</div>

<div class="col-xs-12" style="position: absolute; bottom: 15px;">
    <button class="btn btn-info btn-block text-left" ng-click="sidebar.refreshConfig()" id="refreshButton">
        <i class="fa fa-fw fa-refresh"></i> Refresh map
    </button>
    <hr>
    <button class="btn btn-block text-left" ng-class="(sidebar.autoRefresh)?'btn-success':'btn-warning'"
            ng-click="sidebar.toggleAutoRefresh()" id="autoRefresh">
        <i class="fa fa-fw " ng-class="(sidebar.autoRefresh)?'fa-toggle-on':'fa-toggle-off'"></i> Autorefresh
        <span ng-if="sidebar.autoRefresh">on</span>
        <span ng-if="!sidebar.autoRefresh">off</span>
    </button>
</div>