<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{modal.title}}
                <i class="fa fa-times close"
                   ng-click="modal.cancel()"></i>
            </div>
            <div class="modal-body">
                <textarea readonly style="resize: none">{{modal.config | json}}</textarea>

                <a class="list-group-item" ng-href="{{ modal.blobURL }}" download="config.json" target="_blank">
                    <i class="fa fa-fw fa-cloud-download"></i>
                    Download config.json
                </a>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="modal.close()">
                    close
                </button>
            </div>
        </div>
    </div>
</div>
