<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                download json
                <i class="fa fa-times close"
                   ng-click="modal.cancel()"></i>
            </div>
            <div class="modal-body">
                <textarea>
                    {{modal.config | json}}
                </textarea>

                <a class="list-group-item" ng-href="{{ modal.getblobURL() }}" download="config.json" target="_blank">
                    download - link
                </a>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="modal.close()">
                    <i class="fa fa-fw fa-save"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
