<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{modal.title}}
                <i class="fa fa-times close"
                   ng-click="modal.cancel()"></i>
            </div>
            <div class="modal-body">

                <facet-list
                        ui-model="active.config.breadcrumb"
                        constraint-manager="active.config.facetTreeConfig.getFacetConfig().getConstraintManager()"
                        lookup-service-node-labels="active.services.lookupServiceNodeLabels"
                        constraint-service="active.services.listServiceConstraintLabels"
                        facet-service="active.services.facetService"
                        facet-value-service="active.services.facetValueService"
                        select="selectFacet(path)"
                        ></facet-list>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-8" style="line-height: 30px;">
                        <span>
                            powered by <a href="https://github.com/GeoKnow/Facete2" target="_blank">Facete2 -  A faceted browser for (spatial) RDF data</a>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success" ng-click="modal.close()">
                            <i class="fa fa-fw fa-save"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
