<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Layout
                <i class="fa fa-times close"
                   ng-click="modal.cancel()"></i>
            </div>
            <div class="modal-body">
                <input ng-model="modal.layout.zoom" type="number" placeholder="Zoom" min="1" max="22">
                <input ng-model="modal.layout.lat" type="number" placeholder="Lat" min="-90" max="90">
                <input ng-model="modal.layout.lng" type="number" placeholder="Lng" min="-180" max="180">
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="modal.close()">
                    <i class="fa fa-fw fa-save"></i>
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
